on:
  workflow_run:
    workflows: ["Build and Cache Ubuntu VM"]
    types: ["completed"]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight
  pull_request:
    # branches:
    #   - main

name: MSEntraID E2E tests
jobs:
    use-vm:
        name: MSEntraID E2E tests
        runs-on: ubuntu-latest
        env:
          DEBIAN_FRONTEND: noninteractive
          RELEASE: questing
          VM_NAME_BASE: e2e-runner
          ARTIFACTS_DIR: /tmp/e2e-artifacts
          apt_dependencies: >-
            bsdutils
            cloud-image-utils
            libvirt-clients-qemu
            libvirt-daemon-system
            qemu-kvm
            retry
            socat
            wget

        steps:
        - name: Restore cached VM image
          uses: actions/cache/restore@v4
          with:
            path: ${{ env.ARTIFACTS_DIR }}/${{ env.VM_NAME_BASE }}-${{ env.RELEASE }}.qcow2
            key: e2e-runner-vm
            fail-on-cache-miss: true

        - name: Checkout authd-oidc-brokers repo
          uses: actions/checkout@v5

        # Even though we already try installing the dependencies in the provisioning
        # script, we need to install them here to ensure that we can add the user
        # to the libvirt group
        - name: Install APT dependencies
          run: |
            set -eu
            sudo apt-get update
            sudo apt-get -y install ${{ env.apt_dependencies }}

        - name: Set up SSH keys for the VM provisioning
          run: |
            set -eu

            mkdir -p /home/runner/.ssh
            chmod 700 /home/runner/.ssh

            echo "${{ secrets.E2E_VM_SSH_PRIV_KEY }}" > /home/runner/.ssh/id_rsa
            chmod 600 /home/runner/.ssh/id_rsa

            echo "${{ secrets.E2E_VM_SSH_PUB_KEY }}" > /home/runner/.ssh/id_rsa.pub
            chmod 644 /home/runner/.ssh/id_rsa.pub

            eval "$(ssh-agent -s)"

            ssh-add /home/runner/.ssh/id_rsa

        - name: Checkout YARF repo
          uses: actions/checkout@v5
          with:
            # TODO: Update this once the changes are merged upstream
            repository: adombeck/yarf
            path: ./e2e-tests/.yarf

        - name: Configure YARF
          run: |
            set -eu

            ./e2e-tests/setup-yarf.sh

        - name: Provision authd and authd-msentraid
          run: |
            set -eux

            # Set up temporary directory for VM artifacts
            mkdir -p ${{ env.ARTIFACTS_DIR }}

            cat << EOF > ./e2e-tests/vm/config.sh
            export SSH_PUBLIC_KEY_FILE="/home/runner/.ssh/id_rsa.pub"
            export VM_NAME_BASE="${{ env.VM_NAME_BASE }}"
            export RELEASE="${{ env.RELEASE }}"
            export BROKERS=authd-msentraid
            export AUTHD_MSENTRAID_ISSUER_ID="${{ secrets.E2E_MSENTRA_ISSUER_ID }}"
            export AUTHD_MSENTRAID_CLIENT_ID="${{ secrets.E2E_MSENTRA_CLIENT_ID }}"
            export AUTHD_MSENTRAID_USER="${{ secrets.E2E_MSENTRA_USERNAME }}"
            EOF

            env ARTIFACTS_DIR="${{ env.ARTIFACTS_DIR }}" \
            ./e2e-tests/vm/provision-authd.sh --config-file ./e2e-tests/vm/config.sh

        - name: Run tests
          run: |
            set +eux

            ./e2e-tests/run-tests.sh \
              --user "${{ secrets.E2E_MSENTRA_USERNAME }}" \
              --password "${{ secrets.E2E_MSENTRA_PASSWORD }}" \
              --totp-secret "${{ secrets.E2E_MSENTRA_TOTP_SECRET }}" \
              --broker authd-msentraid \
              --output-dir /tmp/e2e-testrun-msentraid/output

        - name: Upload test results
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: e2e-msentraid-output-${{ github.run_id }}
            path: /tmp/e2e-testrun-msentraid/output
