name: Build and Cache Ubuntu VM

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'  # Runs every Monday at midnight
  pull_request:

env:
  DEBIAN_FRONTEND: noninteractive
  RELEASE: questing
  VM_NAME_BASE: e2e-runner
  ARTIFACTS_DIR: /tmp/e2e-artifacts
  apt_dependencies: >-
    bsdutils
    cloud-image-utils
    libvirt-clients-qemu
    libvirt-daemon-system
    qemu-kvm
    retry
    socat
    wget

jobs:
  build-vm:
    name: Provision and cache Ubuntu VM for the E2E tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Even though we already try installing the dependencies in the provisioning
      # script, we need to install them here to ensure that we can add the user
      # to the libvirt group
      - name: Install APT dependencies
        run: |
          set -eu
          sudo apt-get update
          sudo apt-get -y install ${{ env.apt_dependencies }}

      - name: Set up SSH keys for the VM provisioning
        run: |
          set -eu

          mkdir -p /home/runner/.ssh
          chmod 700 /home/runner/.ssh

          echo "${{ secrets.E2E_VM_SSH_PRIV_KEY }}" > /home/runner/.ssh/id_rsa
          chmod 600 /home/runner/.ssh/id_rsa

          echo "${{ secrets.E2E_VM_SSH_PUB_KEY }}" > /home/runner/.ssh/id_rsa.pub
          chmod 644 /home/runner/.ssh/id_rsa.pub

          eval "$(ssh-agent -s)"

          ssh-add /home/runner/.ssh/id_rsa

      - name: Provision the base E2E Ubuntu VM
        id: provision-vm
        run: |
          set -eu

          # Set up temporary directory for VM artifacts
          mkdir -p ${{ env.ARTIFACTS_DIR }}

          env VM_NAME_BASE="${{ env.VM_NAME_BASE }}" \
            RELEASE="${{ env.RELEASE }}" \
            ARTIFACTS_DIR="${{ env.ARTIFACTS_DIR }}" \
            SSH_PUBLIC_KEY_FILE=/home/runner/.ssh/id_rsa.pub \
            ./e2e-tests/vm/provision-ubuntu.sh

      - name: Clean previous cache
        if: always() && steps.provision-vm.outcome == 'success'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
        run: |
          set -eu

          gh cache delete e2e-runner-vm || true
          echo "Previous cache (if any) deleted"

      - name: Cache the VM image
        uses: actions/cache/save@v4
        if: always() && steps.provision-vm.outcome == 'success'
        with:
          path: ${{ env.ARTIFACTS_DIR }}/${{ env.VM_NAME_BASE }}-${{ env.RELEASE }}.qcow2
          key: e2e-runner-vm
